* {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    background-color: darkgoldenrod;
    font-family: 'Goldman', cursive;
}

#social {
    background-color: black;
    color: darkgoldenrod;
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0%;
    z-index: 1;
    font-size: 25px;
    padding: 1%;
    overflow: hidden;

}

font {
    float: left;
    letter-spacing: 1.6px;
    padding-left: 35%;
}

span {
    font-size: 10px;
    letter-spacing: 1px;
}

#social > i {
    margin-right: 15px;
}



#container {
    width: 90%;
    margin: auto;
    height: auto;

}

header {
    width: 100%;
    height: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;


}

#resim1 {
    width: 100%;
    height: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

#banneryazi {
    position: absolute;
    top: 90%;
    left: 49%;
    transform: translate(-50%, -50%);
    color: black;
    font-family: 'Staatliches', cursive;
    font-size: 25px;


}

section {
    width: 100%;
    height: auto;
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;


}


.menu {
    list-style: none;
    overflow: auto;
    width: 100%;
    margin-left: 4%;

}

.menu li {
    float: left;
    margin: 4.5%;
    overflow: hidden;



}

.menu a {
    text-decoration: none;
    color: darkgoldenrod;
    font-weight: bold;
    font-size: 20px;
}

.menu li a {
    margin: 5%;
    list-style: none;
    padding: 26%;
}

.menu li a:hover {
    color: black;
    background-color: orangered;
}

i {}

.icerik {
    width: 90%;
    height: auto;
    display: inline-block;
    background-color: black;
    font-weight: bold;
    color: darkgoldenrod;
    font-size: 20px;
    overflow: hidden;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    right: 5%;

}

.kodlayankadin {
    width: 40%;
    height: auto;
}

.laptopluadam {
    width: 40%;
    height: auto;
}

.footer1 {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 20px;
    padding: 5px;
    background-color: #000;
    color: darkgoldenrod;
    text-align: center;
}

.footer1 > i:hover {
    opacity: 0.7;
}

.footer2 {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 20px;
    padding: 5px;
    background-color: #000;
    color: darkgoldenrod;
    text-align: center;
}

.footer2 > i:hover {
    opacity: 0.7;
}

.server {
    width: 90%;
    height: auto;



}


.sunucuyazi {
    color: darkgoldenrod;

}

.yaziserveralti {
    color: darkgoldenrod;

}

.cizgi {
    color: darkgoldenrod;
    height: 40px;
    background-color: darkgoldenrod;
    border-color: darkgoldenrod;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.kurumsalhr {
    color: darkgoldenrod;
    border-color: darkgoldenrod;
    height: 10px;
    background-color: darkgoldenrod;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;


}

.footer3 {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 20px;
    padding: 5px;
    background-color: #000;
    color: darkgoldenrod;
    text-align: center;
}

.footer3 > i:hover {
    opacity: 0.7;
}

.kariyerresimler4 {
    width: 40%;

}

.kariyerresimler2 {
    width: 30%;
}

.footer4 {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 20px;
    padding: 5px;
    background-color: #000;
    color: darkgoldenrod;
    text-align: center;
}

.footer4 > i:hover {
    opacity: 0.7;
}

.footer5 {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 20px;
    padding: 5px;
    background-color: #000;
    color: darkgoldenrod;
    text-align: center;
}


.footer5 > i:hover {
    opacity: 0.7;
}

.kariyerresimler1 {
    width: 40%;
    height: auto;
}

.kariyerresimler2 {
    width: 40%;
    height: auto;
}

.kariyerresimler3 {
    width: 40%;
    height: auto;
}

.kariyerresimler4 {
    width: 40%;
    height: auto;
}

.kariyerresimler5 {
    width: 40%;
    height: auto;
}

.siberguvenlik {
    width: 90%;
    height: auto;
}

.hizmeth1 {
    color: darkgoldenrod;
}

.kapikiran {
    height: auto;
    width: auto;

}
